<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="S2SMtDemoClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <S2SMtDemoClient.Properties.Settings>
            <setting name="ClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="MicIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpeakerIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FromLanguageIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ToLanguageIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MiniWindow_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MiniWindow_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MiniWindow_Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MiniWindow_Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MiniWindow_Lines" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowMiniWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value>TranslatorLogs</value>
            </setting>
            <setting name="TTS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CutInputDuringTTS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PartialResults" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VoiceIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </S2SMtDemoClient.Properties.Settings>
    </userSettings>
</configuration>