<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="S2SMtSetup" Language="1033" Version="1.0.0.0" Manufacturer="Microsoft" UpgradeCode="21861afb-92ad-4528-979c-2fecb3a5a7b8">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of Microsoft Speech Translator is already installed." />
		<MediaTemplate EmbedCab ="yes" />

		<Feature Id="ProductFeature" Title="Microsoft Speech Translator" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Microsoft Speech Translator" />
			</Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Microsoft Translator" />
      </Directory>
    </Directory>
	</Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="0DDF3BDD-C6B7-4922-B835-B16902AAC345">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Microsoft Speech Translator"
                  Description="Microsoft Speech Translator"
                  Target="$(var.S2SMtDemoClient.TargetPath)"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\MicrosoftSpeechTranslator" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>
  
  
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent">
        <File Source="$(var.S2SMtDemoClient.TargetPath)" />
        <File Source="$(var.S2SMtDemoClient.TargetPath).config" />
        <File Source="$(var.S2SMtDemoClient.TargetDir)\NAudio.dll" />
        <File Source="$(var.S2SMtDemoClient.TargetDir)\NAudio.WindowsMediaFormat.dll" />
        <File Source="$(var.S2SMtDemoClient.TargetDir)\NAudio.xml" />
        <File Source="$(var.S2SMtDemoClient.TargetDir)\Newtonsoft.Json.dll" />
        <File Source="$(var.S2SMtDemoClient.TargetDir)\Newtonsoft.Json.xml" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>